<%- include('partials/header') %>
<div class="rj1">
  <h1 class="rj">Gujrati-Sarees</h1>
  <img class="s1" src="images/s28.jpg" >
  <h2  class="sp">Sample product-6</h2>
  <h1 class="rs">Rs-1000</h1>
  <hr width="30%">
  <hr width="30%">

  <h2 class="detail">Saree Details:</h2>
  <h3 class="detail">fabric: 1</h3>
  <h3 class="detail">Colours: 0</h3>
  <h3 class="detail">Sample products - these are sample products. Real products will be added soon.  </h3>
  <a href="/home"><button type="button" class="btn btn-lg btn-outline-warning btn-margin">Wishlist   <i class="fa fa-bookmark" aria-hidden="true"></i></button></a>
<a href="/contact"><button type="button" class="btn btn-lg btn-outline-primary btn-margin">Contact <i class="fa fa-phone" aria-hidden="true"></i></button></a>
</div>

<%- include('partials/footer') %>
