<%- include('partials/header') %>
<!-- <div class="container"> -->

<!-- </div> -->
<div class="top-container">

 <div class="row">
    <div class="col-lg-6">
      <h2 class=top-h1>The fashion Store <br>Aapki apni dukan.</h2>
      <button type="button" class="btn btn-dark btn-lg Download-btn"><i class="fab fa-apple"></i> Download</button>
      <button type="button" class="btn btn-outline-light btn-lg Download-btn"> <i class="fab fa-google-play"></i>Download</button>
    </div>
    
    <div class="col-lg-6">
        <img class="top-saree" src="images/Mysaree.png" alt="cloud1">
    </div>
 </div>
</div>


        <!-- <section id="pricing"> -->

 <h2 class="home-head">Stylish Sarees Available</h2>
    <div class="row">
         <div class="pricing-column col-lg-4 col-md-6 col-sm-6">
         <div class="card">
          <div class="card-header rjsaree-head">
                  <h3>Rajasthani-Saree</h3>
           </div>
              <div class="card-body back-color">
                <img class="s1" src="images/s1.jpg" >
                <a href="/rajasthani1"><button class="btn btn-lg btn-block btn-outline-dark" type="button">Click here</button></a>
              </div>
              </div>
            </div>
              <div class="pricing-column col-lg-4 col-md-6  col-sm-6">
                <div class="card">
              <div class="card-header rjsaree-head">
                            <h3>Rajasthani-Saree</h3>
              </div>
              <div class="card-body">
                <img class="s1" src="images/s2.jpg" >

    <a href="/rajasthani2"><button class="btn btn-lg btn-block btn-outline-dark" type="button">Click here</button></a>
            </div>
              </div>
                </div>
              <div class="pricing-column col-lg-4  col-md-6 col-sm-6">
              <div class="card">
                <div class="card-header rjsaree-head">
                          <h3>Rajasthani-Saree</h3>
                </div>
                      <div class="card-body" >
                        <img class="s1" src="images/s17.jpg" >
                      <a href="/rajasthani3"><button class="btn btn-lg btn-block btn-outline-dark" type="button">Click here</button></a>
                      </div>
      </div>
        </div>
        <div class="pricing-column col-lg-4 col-md-6  col-sm-6">
    <div class="card">
          <div class="card-header gjsaree-head">
                  <h3>Gujrati-Saree</h3>
          </div>
            <div class="card-body">
              <img class="s1" src="images/s18.jpg" >
              <a href="/gujrati1"><button class="btn btn-lg btn-block btn-outline-dark" type="button">Click here</button></a>
            </div>
            </div>
            </div>
            <div class="pricing-column col-lg-4 col-md-6  col-sm-6">
        <div class="card">
              <div class="card-header  gjsaree-head">
                      <h3>Gujrati-Saree</h3>
              </div>
                <div class="card-body">
                  <img class="s1" src="images/s22.jpg" >
                  <a href="/gujrati2"><button class="btn btn-lg btn-block btn-outline-dark" type="button">Click here</button></a>
                </div>
                </div>
                </div>
                <div class="pricing-column col-lg-4 col-md-6  col-sm-6 ">
            <div class="card">
                  <div class="card-header  gjsaree-head">
                          <h3>Gujrati-Saree</h3>
                  </div>
                    <div class="card-body">
                      <img class="s1" src="images/s28.jpg" >
                    <a href="/gujrati3">  <button class="btn btn-lg btn-block btn-outline-dark" type="button">Click here</button></a>
                    </div>
                    </div>
                    </div>
                    <div class="pricing-column col-lg-4 col-md-6  col-sm-6">
                <div class="card">
                      <div class="card-header bgsaree-head">
                              <h3>Bengali-Saree</h3>
                      </div>
                        <div class="card-body">
                          <img class="s1" src="images/s32.jpg" >
                          <a href="/bengali1"><button class="btn btn-lg btn-block btn-outline-dark" type="button">Click here</button></a>
                        </div>
                        </div>
                        </div>
                        <div class="pricing-column col-lg-4 col-md-6  col-sm-6">
                    <div class="card">
                          <div class="card-header bgsaree-head">
                                  <h3>Bengali-Saree</h3>
                          </div>
                            <div class="card-body">
                              <img class="s1" src="images/s27.jpg" >
                            <a href="/bengali2">  <button class="btn btn-lg btn-block btn-outline-dark" type="button">Click here</button></a>
                            </div>
                            </div>
                            </div>
                            <div class="pricing-column col-lg-4 col-md-6  col-sm-6">
                        <div class="card">
                              <div class="card-header bgsaree-head">
                                      <h3>Bengali-Saree</h3>
                              </div>
                                <div class="card-body">
                                  <img class="s1" src="images/s24.jpg" >
                                <a href="/bengali3">  <button class="btn btn-lg btn-block btn-outline-dark" type="button">Click here</button></a>
                                </div>
                                </div>
                                </div>
                                <div class="pricing-column col-lg-4 col-md-6  col-sm-6">
                            <div class="card">
                                  <div class="card-header msaree-head">
                                          <h3>Marathi-Saree</h3>
                                  </div>
                                    <div class="card-body">
                                      <img class="s1" src="images/s29.jpg" >
                                  <a href="/marathi1">    <button class="btn btn-lg btn-block btn-outline-dark" type="button">Click here</button></a>
                                    </div>
                                    </div>
                                    </div>  <div class="pricing-column col-lg-4 col-md-6  col-sm-6">
                                  <div class="card">
                                        <div class="card-header msaree-head">
                                                <h3>Marathi-Saree</h3>
                                        </div>
                                          <div class="card-body">
                                            <img class="s1" src="images/s30.jpg" >
                                      <a href="/marathi2"> <button class="btn btn-lg btn-block btn-outline-dark" type="button">Click here</button></a>
                                          </div>
                                          </div>
                                          </div>  <div class="pricing-column col-lg-4 col-md-6  col-sm-6">
                                        <div class="card">
                                              <div class="card-header msaree-head">
                                                      <h3>Marathi-Saree</h3>
                                              </div>
                                                <div class="card-body">
                                                  <img class="s1" src="images/s34.jpg" >
                                                <a href="/marathi3">  <button class="btn btn-lg btn-block btn-outline-dark" type="button">Click here</button></a>
                                                </div>
                                                </div>
                                                </div>
    </div>

      <!-- </section> -->



    <!-- </section> -->


<%- include('partials/footer') %>
